<h3>Add a new banned word</h3>

<%= form_tag add_bw_path, :remote => true , :class => "form-inline" do %>
  <%= text_field_tag :word, "",  :class => "input-large" %>
  <%= submit_tag "Submit", :class => [:btn, "btn-success"] %>
<% end %>
