<table class="table" style="width:230px;">
  <thead></thead>
  <tbody>
    <% @banned_words.each do |bw| %>
      <tr><td><%= bw.first %> <i class="icon-trash"></i></td></tr>
    <% end %>
  </tbody>
</table>
